*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}
.banner{
	width: 100%;
    height: 876px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes banner{
	0%, 20%{
		background-image: url("../imagenes/001.jpg");
	}
	25%, 45%{
		background-image: url("../imagenes/colum2.jpg");
	}
	50%, 70%{
		background-image: url("../imagenes/R2.jpg");
	}
	75%, 100%{
		background-image: url("../imagenes/R3.jpg");
	}
}
.capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.presentacion{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}
.presentacion h1{
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.presentacion p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
}
.presentacion a{
	color: #fff;
	text-decoration: none;
	background: #3088e0;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
}



/* backgroun- repeat: no repeat// backgraund position:center center(para centrar la imagen) backgraund attachmen(para qu   aimagen quede fija*/
.body-img{
    background:url(../imagenes/img.Galearia.jpg) no-repeat center center fixed;
    
    background-size: cover;    
}


/* backgroun- repeat: no repeat// backgraund position:center center(para centrar la imagen) backgraund attachmen(para qu   aimagen quede fija*/
.body-img-inicio{
    background:url(../imagenes/POSIBLEFONDOINI.jpg) no-repeat center center fixed;
    background-size: cover;     
}



.body-img-nosotros{
    background:url(../imagenes/img.nosotros) no-repeat center center fixed;
    background-size: cover;  
}
.body-img-galeria{
    background:url(../imagenes/posible\ fondo.jpg) no-repeat center center fixed;
    background-size: cover;  
}

.body-img-contacto{
    background:url(../imagenes/GettyImages-612733208-e1523025017244.webp) no-repeat center center fixed;
    background-size: cover;  
}


/*van para todas las paginas*/

.header{
    max-width: 1500px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content:end;
    
}


nav_index{
    font-family: 'Merienda', cursive;
    position: fixed;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 20px;
}

nav ul li{
    transition: transform .5s ;
    
}

nav ul li:hover{
    transform: scale(1.5);
    
}

nav ul li{
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
}


/*termina el nav*/



/*Comienza la pagina de inicio*/

.logo{
    height: 90px;
}

.colornav{
    background-color: #cc969670;
}

.navderecha{
justify-content: end;

}

.navbar-nav{
    font-size: 25px;
    
}

.nav-link{
margin: 15px;
}



.tarjetas {
    width: 80%;
    margin: 60px auto;
}
.titulo {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 30%;
    padding: 12px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background:url(../imagenes/img.Galearia.jpg);
    background-size:cover;
    color: #fff;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;

}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #f00e438a, #e66a5471);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}



.heading {
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: rgb(217, 223, 230);
}


.card{
    
    width: 30%;
    height: auto;
    margin: auto;
    }





.redes01{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    right: 5px;
    }




/*nosotros*/



.section-pnosotros{
        margin: 93px;
        padding-top: 10px;
        text-align:center;
}
    
.titulo-pnosotros{
        font-family: 'Playfair Display', serif;
        /*padding: 50px;*/
        font-size: 50px;
        color: #ffffff;
        text-align: center;
}
    
.subtitulo_pnosotros{
        background-color: rgba(164, 188, 206, 0.288);
        color:#0f0f0fe8;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        text-align:left;
        margin: 30px;
        padding: 30px 15px;
        border-style:groove;
        width: fit-content;
}
    
/*.texto-pnosotros{
        font-family: 'Nunito', sans-serif;
        font-size:medium;
        background-color: bisque;
        text-align: start;
        margin: 30px;
        padding: 30px 15px;
        border-style:dotted;
        width: 50%;
}
*/

.card-header{
    padding: 100px 10px;
}


#cardnosotros{
    margin: 50px;
}
    
.redes-nosotros{
        display: flex;
        position:fixed;
        bottom: 0;
        justify-content: flex-end;
        right: 5px;
       
        
}

/*Galearia*/


.img-galeria{
    width: auto;
    height: auto;
    max-height: 500px;
    
}

.galery{
    margin: auto;
    width: 90%;
}

.slide{
    width:90%;
    margin:10px;
    padding:5px;
    
}

.redes-galeria{
    display: flex;
    position:fixed;
    bottom: 0;
    justify-content: flex-end;
    right: 5px;
    
}
/*contacto*/



.section-contacto{
    
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}
    
.form{
    background-color: rgba(250, 235, 215, 0.452);
    color: rgba(255, 255, 255, 0.623);
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
    
}

.flex-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.input-text{
    padding: 10px;
    font-size: 18px;
    

}

label{
    flex-basis: 130px;
    margin-top: 10px;
    font-size: 20px;
}

.boton{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(127, 255, 212, 0.425);
    border: none;
    margin: 20px 0;
    transition: tranform .5s ;
    border-radius: 10px;

}



.boton:hover{
    transform: scale(.9);
    
}

.formuario-entero{
    display: flex;
}



.redes-contacto{
    display: flex;
    position:absolute;
    bottom: 0;
    justify-content: flex-end;
    right: 5px;
    text-align: right;
}


@media screen  and (max-width: 600px) {
    
    .navbar-nav{
        font-size: 25px;
        align-items: center;
    }
}

@media screen  and (max-width: 600px) {

    .cardini{
        width: 90%;
        margin: 10px;
}
}


@media screen  and (max-width: 600px) {

    #cardnosotros{
        width: 75%;
        margin: 13%;
}
}